body{
    background: linear-gradient(#5fc9e4 70%, #00466b);
}
header {
    background: linear-gradient(#00466b, #5bc3dd 60%);
    padding: 20px 0;
}
h3 .logo {
    text-align: left;
}
.logo {
   width: 8%;
   margin-left: 25px;
}
.caixa {
    display: inline;
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 90px;
    right: 25px;
}
nav a {
    font-size: 30px;
    padding-left: 20px;
    color: #caf0f8;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #00466b;
    font-size: 35px;
    transition: 0.7s;
}
.imagem-produtos{
    width: 100%;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 20px 15px;
    border: 5px solid #000b11;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #00121c;   
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao-produtos {
    font-weight: 400;
}
.link-produtos {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer {
    padding: 24px;
    background-color: #00466b;
}
