body{
    background: #00b4d8;
}
header {
    background: linear-gradient(#00466b, #5bc3dd 60%);
    padding: 20px 0;
}
h3 .logo {
    text-align: left;
}
.logo {
   width: 8%;
   margin-left: 25px;
}
.caixa {
    display: inline;
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 90px;
    right: 25px;
}
nav a {
    font-size: 30px;
    padding-left: 20px;
    color: #caf0f8;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #00466b;
    font-size: 35px;
    transition: 0.7s;
}
h1 {
    border-radius: 50px;
    text-align: center;
    background:linear-gradient(#00b4d8, #90e0ef 30%) ;
    box-shadow: 10px 10px 20px #90e0ef;
}

.textoCorpo {
    padding: 10px 10px;
    text-align: center;
    background-color: linear-gradient(#90e0ef,#00b4d8);
}

.imagem-principal {
    width: 100%;
}

.ancora {
    width: 126px;
    float: left;
    margin: 0 20px 20px 0;
}
h2 {
    padding: 20px;
    font-style: italic;
    text-shadow: 1px 1px #00466b;
}
ul {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.beneficios {
    color: #caf0f8;
    background: linear-gradient(#00b4d8, #00466b 60%);
}

.itens {
    font-size: 23px;
    padding: 27px;
    
}

li::marker {
    content: "\27A6";
    color: #caf0f8;
    font-size: 20px;
}

.imagem-lista {
    width: 46%;
}