
body {
    text-align: center;
    background: linear-gradient(rgb(229, 255, 151), rgb(143, 148, 188));
}
.capa {
    width: 100%;
}
.caixa {
    display: inline;
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.caixa h3 {
    text-align: left;
}
.foto-logo {
    width: 10%;
    margin-left: 18px;
    border-radius: 90px;
    box-shadow: 2px 2px 2px #111111;
}
nav {
    position: absolute;
    top: 90px;
    right: 75px;
}
nav a {
    font-size: 20px;
    padding-left: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: rgb(143, 148, 188);
    transition: 0.5s;

}
.conteudo p {
    margin-right: 10%;
    margin-left: 15%;
}
.extras ul {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-right: 15px;
}
.extras li {
    text-align: left;
    padding: 15px;
}
.foto-extras {
    width: 25%;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 25px;
}